.footer__info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .footer__info {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
