.h-menu__wrap {
    display: flex;
    list-style-type: none;
    position: relative;
    z-index: 2;
    padding: 0;
    margin-top: 20px;
}
@media screen and (max-width: 1024px) {
    .h-menu__wrap {
        display: block;
        line-height: 35px;
        right: 20px;
    }
}