.slider__photo {
  width: 1280px;
  height: 480px;
  object-fit: cover;
  opacity: 0.35;
}
.slider-2 {
  object-position: 0 0;
}
@media screen and (max-width: 768px) {
  .slider__photo {
    height: 350px;
  }
  .slider-2 {
    object-position: 0px 60px;
  }
}
