.work-list {
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .work-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .work-list {
    margin: 0 auto 88px;
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .work-list {
    margin: 0 auto 64px;
    max-width: calc(100% - 32px);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}
