.tabs__content {
    position: relative;
    display: none;
    margin-left: 30px;
}

.tabs__content.active  {
    display: block;
}
@media  (max-width: 768px) {
    .tabs__content {
        margin-left: 15px;
    }
}